.sharelink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color);
}

h2{
    font-size: 2.5vmin;
}

h4{
    font-size: 3vh;
    margin: 1vh 0 0 0;
}

.sharelink h5{
    font-size: 2vmin;
    margin: 2vh 0;
}

@media only screen and (max-width: 600px){
    h4 {
        font-size: 2vh;
    }
    
    .sharelink h5 {
        font-size: 1.4vh;
    }
    h2 {
        font-size: 4vmin;
    }
}

.btn {
    color: var(--secondary-color);
    height: 4vh;
    border-radius: 3vh;
    border: var(--secondary-color) 3px solid;
    font-size: 1.8vmin;
    background-color: transparent;
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 0;
}