.page {
    display: flex;
    flex-direction: column;
    align-items: content;
    justify-content: center;
    flex-grow: 1;
}

.poll-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-header {
    height: 10vh;
}

.poll-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pill-body {
    height: 90vmin;
    aspect-ratio: 6/7;
    background: rgb(2, 0, 36);
    background: linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(219, 65, 5, 1) 0%, rgba(75, 22, 2, 1) 100%);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.title-text {
    color: #db4105;
    font-size: 6vmin;
    margin: 5% 0%;
}

@media only screen and (max-width: 600px){
    .poll-header{
        height: 0vh;
    }

    .poll-main{
        height: 85vh;
    }
}