.page {
    display: flex;
    flex-direction: column;
    align-items: content;
    justify-content: center;
    flex-grow: 1;
}

.poll-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-header {
    height: 10vh;
    display: flex;
    justify-content: flex-end;

}

.poll-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pill-body {
    height: 90vmin;
    aspect-ratio: 6/7;
    background: var(--secondary-color);
    background: linear-gradient(var(--primary-color) 0%, var(--secondary-color) 200%);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.title-text {
    color: #db4105;
    font-size: 6vmin;
    margin: 5% 0%;
}

@media only screen and (max-width: 600px){
    .poll-header{
        height: 2vh;
    }

    .poll-main{
        height: 85vh;
    }
}