.poll-title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-title input {
    width: 60%;
    height: 70%;
    border: black 3px;
    color: black;
    font-size: 150%;
    text-align: center;
    background: transparent;
}

.options {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    overflow: auto;

}

.submit-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.submit-button{
    display: flex;
    gap: 1vmin;
}

button {
    color: black;
    height: 4vmin;
    border-radius: 2vmax;
    border: black 3px solid;
    font-size: 1.8vmin;
    background-color: transparent;
}

button:hover {
    color: white;
    background-color: black;
    border: 0;
}

.Vote-btn{
    background-color: transparent;
    width:80%;
    border-radius: 1vmin;
}

.Vote-btn:hover{
    background-color: white;
    color: black;
    border: black 3px solid;
}

.Vote-btn:active{
    background-color: black;
    color: white;
}
.current{
    margin: 0;
}



