.poll-title {
    color: var(--secondary-color);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-title input {
    
    width: 60%;
    height: 70%;
    border: var(--secondary-color) 3px;
    color: var(--secondary-color);
    font-size: 150%;
    text-align: center;
    background: transparent;
}

.options {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    overflow: auto;

}

.submit-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.submit-button{
    display: flex;
    gap: 1vmin;
}

.btn {
    color: var(--secondary-color);
    height: 4vh;
    border-radius: 3vh;
    border: var(--secondary-color) 3px solid;
    font-size: 1.8vmin;
    background-color: transparent;
}

.btn:hover {
    color: white;
    background-color: var(--secondary-color);
    border: 0;
}

.Vote-btn{
    color: var(--secondary-color);
    background-color: transparent;
    width:80%;
    border-radius: 1vmin;
    border: var(--secondary-color) 3px solid;
}

.Vote-btn:hover{
    background-color:var(--secondary-color);
    color: var(--primary-color);
    border: var(--secondary-color) 3px solid;
}

.Vote-btn:active{
    background-color: var(--secondary-color);
    color: white;
}
.current{
    margin: 0;
    color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    
    .options{
        padding-top: 2%;
        gap: 8%;
    }

    .btn{
        font-size: 1.5vh;
        height: 3vh;

    }
    .submit-button{
        margin-bottom: 1vh;
        flex-direction: column;
    }

}

