

.poll-title{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-title input{
    width: 60%;
    height: 70%;
    border: var(--secondary-color) 3px;
    color: var(--secondary-color);
    font-size: 150%;
    text-align: center;
    background: transparent;
    outline: none;
}

.options {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    overflow: auto;
    
}

.button-holder{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.button-holder button {
    color: var(--secondary-color);
    height: 4vmin;
    border-radius: 2vmax;
    border: var(--secondary-color) .5vmin solid;
    font-size: 2vmin;
    background-color: transparent;
}

.button-holder button:hover{
    color: white;
    background-color: var(--secondary-color);
    
}

.pill-input{
    outline: none;
}

@media only screen and (max-width: 600px){
    .options{
        gap: .5vmax;
    }
    .button-holder{
        gap: 2%;
    }
    .button-holder button{
        border: var(--secondary-color) .7vmin solid;
        height: 6vmin;
        font-size: 3vmin;
        
    }
    
}